*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}
img{

    width: 100%;
    height: auto;
}
section{
    padding: 100px 50px;
}
.products{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap: 2rem;
}
.products .item{
    border: 2px solid black;
    /* background: #0077ff; */
    border-radius: 15px;
    overflow: hidden;
    
}
.products .item:hover{
    box-shadow:1px 1px 50px #020202;
    background: yellow;

}
.products .item .products-content {
    padding: 10px 15px;
}
.products .item .products-content h3{
    font-size: 25px;
    color: rgb(0, 0, 0);
}
.products .item .products-content h5{
    font-size: 15px;
    color: rgb(0, 0, 0);
    padding:5px 0;
}
.products .item .products-content .inbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.products .item .products-content .inbox .price a {
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 5px;
    font-size: 15px;
    font-weight: 600;
}
.products .item .products-content .inbox .rating a{
    color: black;
    font-size: 18px;
}
@media screen and (max-width:480px) {
    .shopping-card {
        padding: 30px 5px;
    }
}